h1 {
    color: red;
}
h2 {

}
.text1 {
    background-color: lightgreen;
}
.text2 {
    background-color: lightgrey;
}
.text3 {
    background-color: lightyellow;
}
.text4 {
    background-color: lightcoral;
}
